* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*The width and height properties 
  (and min/max properties) includes content, padding and border*/
}
body {
  background-image: linear-gradient(120deg, #dc143c, #e995a6);
  color: white;
  min-height: 100vh; /*vh Relative to 1% of the height of the viewport which 
  is the browser window size. 
  If the viewport is 50cm wide, 1vw = 0.5cm.*/
}
header {
  font-size: 1.3rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  border: none;
  padding: 0.5rem;
  font-size: 2rem;
  background-color: white;
}
form button {
  cursor: pointer; /*mouse looks as pointer when is over the button*/
  color: #e995a6;
  background-color: white;
  transition: all 0.3 ease;
}
form button:hover {
  color: white;
  background-color: #e995a6;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  /*deleting list dots*/
  list-style: none;
  min-width: 20%;
}
.todo {
  margin: 0.5rem;
  background-color: white;
  display: flex;
  color: black;
  font-size: 2rem;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease; /*regarding the "completed" class */
}
.todo li {
  flex: 1;
}
.complete-btn,
.delete-btn {
  cursor: pointer; /*mouse looks as pointer when is over the button*/
  color: white;
  background-color: #c52948;
  transition: all 0.3 ease;
  padding: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.complete-btn {
  background-color: rgb(42, 165, 83);
}

.delete-btn:hover {
  color: #c52948;
  background-color: white;
}
.complete-btn:hover {
  color: rgb(42, 165, 83);
  background-color: white;
}
.todo-item {
  /* each todo is stick to tje rught and has 
    space to it's left */
  padding: 0rem 0.5rem;
}
.far fa-check-square,
.far fa-trash-alt {
  pointer-events: none; /*if I click on it nothing's happaned*/
}
.completed {
  text-decoration: line-through;
  opacity: 0.6; /*lowing the opacity of todo*/
}
.byebye {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
.select:after {
  /*the 'after' positions it after todo-button */
  /* content: /*The content property is used with the ::before and ::after */
  /* pseudo-elements, to insert generated content*/
  position: absolute; /*The element is positioned relative 
  to its first positioned (not static) ancestor element*/
  background-color: #e995a6;
  top: 0;
  right: 0;
  cursor: pointer;
}
.filter-todo {
  font-size: 1.5rem;
  border: none;
  color: white;
  background-color: #e995a6;
  cursor: pointer;
}
